# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
.vercel-global/
.npm-cache/
*.png
!public/image/
!public/image/巴士.png
!public/image/出租车.png
!public/image/私家车.png
!public/image/巡检人员.png
